@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

#mainHeader{
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 0px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainHeader ul{
    display: flex;
    gap: 10px;
}

#mainHeader li{
    list-style: none;
}

#mainHeader a{
    color: white;
    text-decoration: none;
}

#mainHeader a:hover{
    color: #888888;
}

.mainSection{
    background-color: #1f2937;
    color: white;
    padding: 50px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageSection{
    background-color: #6b6b6b;
    margin-left: 20px;
    flex: 0 1 550px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionText h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.sectionText p{
    width: 550px;
    height: auto;
}

.imageArea{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.imageArea h2{
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px 0px;
}
.heroImages{
    display: flex;
    align-items: center;
    padding: 0px 25%;
    flex: auto;
    gap: 40px;
    text-align: center;
}

.heroImage{
    border: 3px solid #3882F6;
    border-radius: 15px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteArea{
    background-color: #e5e7eb;
    padding: 50px 20%;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quoter{
    text-align: end;
}

.callAction{
    margin: 50px 10%;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 25px 100px;
    line-height: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.callAction button{
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 20px;
}

#mainFooter{
    background-color: #1f2937;
    color: white;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}